<div class="containter cart-page">
  <% @errors.each do |error| %>
    <%= "<input class='has-error' type='text' hidden='true' value='#{error}'>".html_safe %>
  <% end %>
  <div class="row header marginb header-margin">
    <div class="col-md-6 text-center">
      <img src="https://truevisionweightloss.com/wp-content/uploads/2017/04/truvision-logo-website-independent-1.jpg" alt="">
    </div>
    <div class="col-md-6 text-center">
      <a href="http://truvisionnow.com/shop">Back to shopping >>></a>
    </div>
  </div>

  <div class="row marginb">
    <div class="offset-md-2 col-md-8">
      <h3>Cart</h3>
      <% if @products.any? %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th class="text-right">Total</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
            <tr>
              <td align="center">
                <i class="fa fa-times remove-product vert-aligned" data-sku="<%= product.sku %>" aria-hidden="true"></i>
              </td>
              <td>
                <img class="product-cart-image" src="<%= product.image_url %>" alt="">
              </td>
              <td><%= product.name + asterisk_if_sample(product.sku) %></td>
              <td><%= number_to_currency product.price %></td>
              <td>
                <select class="form-control quantity-selector" id="sel1">
                  <% [*1..product_quantity_list(product.sku)].each do |n| %>
                    <%= quantity_select(product_quantity(product.sku), n, product) %>
                  <% end %>
                </select>
              </td>
              <td class="text-right"><h5><%= number_to_currency(product.price * product_quantity(product.sku)) %></h5></td>
            </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><h5>Total</h5></td>
            <td class="text-right">
              <h5>
                <%= number_to_currency total %>
              </h5>
            </td>
          </tr>
          <tr>
            <td>
              <span class="inline pull-left">
                <input class="form-control" type="text" id="coupon-code" placeholder="Coupon Code">
              </span>
            </td>
            <td>
              <button class="btn btn-default apply-coupon" type="button" name="button">Apply Coupon</button>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <a href="/checkout" id="checkout-button" class="btn btn-primary checkout-btn" name="button">Proceed to Checkout</a>
            </td>
          </tr>
        </tbody>
      </table>
      <% else %>
        <div class="text-center">
          <h3>No selected products.</h3>
        </div>
      <% end %>
      <p id="max-sample">*Maximum of 2 Sample Packs per Person (due to limited supply)</p>
    </div>
  </div>

  <div class="row text-center marginb">
    <div class="col-md-6 offset-md-3">
      <img style="width: 200px; height: 50px;" src="https://truevisionweightloss.com/wp-content/uploads/2015/08/debitcards.jpg" alt="">
    </div>
  </div>

  <div class="row text-center">
    <div class="offset-md-2 col-md-8">
      <p>TruVision Health offers a sampling program for people to try our products prior to making a commitment to purchase larger quantities. This takes the place of a traditional money back guarantee. We encourage all people to sample our products prior to making any commitments to purchase larger volumes of product. TruVISION will offer a 90% return policy on items returned in resalable condition within 30 days of purchase.</p>
    </div>
  </div>
</div>
